.container {
    width: 100%;
    max-width: 1000px;


    &__content {
        width: 50%;
        padding-bottom: 3em;

        @media(max-width: 500px) {
            width: 100%;
        }
    }

    &__row {

        @media(max-width: 1000px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media(max-width: 500px) {
          flex-direction: column;
        }
    }
    &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.container:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 85%;
    border-bottom: 1px #eee solid;
}
