$max-width: 1200px;
$mid-width: 1000px;
$min-width: 500px;

.container {
  width: 100%;
  max-width: 1200px;

  @media (max-width: 1199px) {
    margin: 0 5px;
  }

  &__content {
    width: 33%;
    padding-bottom: 3em;

    @media (max-width: $mid-width) {
      display: flex;
      flex-wrap: wrap;
      width: 50%;
    }
    @media (max-width: $min-width) {
      width: 100%;
    }
  }

  &__text:hover {
    cursor: default;
  }

  &__row {
    @media (max-width: $mid-width) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (max-width: $min-width) {
      flex-direction: column;
    }
  }

  &__video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__myndband {
    width: 90%;
  }
}

.container::after {
  display: block;
  width: 85%;
  margin: 0 auto;
  content: "";
  border-bottom: 1px #eee solid;
}
