$gutter: 20px;
$min-width: 500px;
$mid-width: 1000px;
$max-width: 1200px;

.row {
  max-width: $max-width;
  @media (max-width: $min-width) {
    flex-direction: column;
  }

  &__content {
    @media (max-width: $max-width) {
      width: 33%;
    }
    @media (max-width: $mid-width) {
      width: 50%;
    }
    @media (max-width: $min-width) {
      width: 100%;
    }
  }

  &__container {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $min-width) {
      flex-direction: column;
    }
  }
}

@mixin columns($col: 1) {
  width: ($col / 12 * 100) * 1%;
}

.offset {
  &-2 {
    margin-left: (2 / 12 * 100) * 1%;
  }

  &-medium {
    @media (max-width: 500px) {
      &-0 {
        margin-left: 0;
      }

      &-12 {
        @include columns(12);
      }
    }
  }
}
