$font-main: "Open-sans", "helvetica","sans-serif";
$gutter: 20px;

.text {
  &__heading {
    font-family: $font-main;
    font-size: $gutter;
    color: rgb(255, 255, 255);
    font-size: 1em;
  }

  &__container {
    position:relative;

  }
/* Titil á videos er bold */ 
  &__container + div {
    font-weight: bold;
  }

  &__fyrsta {
    margin-right: 1em;
  }

  &__seinna {
    float: left;
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    margin: 1em;
    margin-right: 2em;
    opacity: .8;
  }
}
