/* Breytur sem notaðar eru endurtekið */
$grunnur-font: 16px; /* Stöðluð textastærð */
$gutter: 20px; /* Staðlaður gutter á grind */

/* Staðlaðar skjástærðir */
$max-width: 1200px;
$mid-width: 600px;
$min-width: 400px;

/* Breytur með letrinu */
$font-main: "Open-sans", "helvetica","sans-serif";
$font-Head: "Roboto Slap";

html { /* stylelint-disable-line */
  box-sizing: border-box;
}

*, *:before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;

  padding: 0;
  margin: 0;
}

html { /* stylelint-disable-line */
  line-height: 1.5;
  background-color: rgb(35,35,35);
}
h1,h2 {
  font-family: $font-main;
  color: rgb(255,255,255);
  padding: 1em 0;
}

h1:first-of-type {
  padding-bottom: 0;
}


img { /* stylelint-disable-line */
  max-width: 100%;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;

  overflow-x: hidden;
}
@import "scss/grid";
@import "scss/text";
//@import "scss/videos";
@import "scss/container";
@import "scss/button";
